### Data Cleaning/Processing
#### - Duplicates
#### - Irrelevant Data
#### - Missing Values
#### - Outliers

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sbn

pd.set_option('display.max_columns', None) # Display all columns in DataFrame output.
pd.set_option('display.max_rows', None) # Display all rows in DataFrame output.

#### Load Data from a CSV

In [ ]:
df = pd.read_csv('data/health_lifestyle_classification.csv')
df.shape # get the number of rows and columns

(100000, 48)

In [ ]:
df.head() # Show the first 5 rows of the DataFrame to understand its structure.

,survey_code,age,gender,height,weight,bmi,bmi_estimated,bmi_scaled,bmi_corrected,waist_size,blood_pressure,heart_rate,cholesterol,glucose,insulin,sleep_hours,sleep_quality,work_hours,physical_activity,daily_steps,calorie_intake,sugar_intake,alcohol_consumption,smoking_level,water_intake,screen_time,stress_level,mental_health_score,mental_health_support,education_level,job_type,occupation,income,diet_type,exercise_type,device_usage,healthcare_access,insurance,sunlight_exposure,meals_per_day,caffeine_intake,family_history,pet_owner,electrolyte_level,gene_marker_flag,environmental_risk_score,daily_supplement_dosage,target
0,1,56,Male,173.416872,56.886640,18.915925,18.915925,56.747776,18.989117,72.165130,118.264254,60.749825,214.580523,103.008176,NaN,6.475885,Fair,7.671313,0.356918,13320.942595,2673.546960,44.476887,NaN,Non-smoker,1.694262,5.003963,2,8,No,PhD,Tech,Farmer,6759.821719,Vegan,Strength,High,Poor,No,High,5,Moderate,No,Yes,0,1.0,5.5,-2.275502,healthy
1,2,69,Female,163.207380,97.799859,36.716278,36.716278,110.148833,36.511417,85.598889,117.917986,66.463696,115.794002,116.905134,10.131597,8.428410,Good,9.515198,0.568219,11911.201401,2650.376972,74.663405,Regularly,Light,0.716409,5.925455,3,9,No,High School,Office,Engineer,6240.517690,Vegan,Cardio,Moderate,Moderate,No,High,5,High,Yes,No,0,1.0,5.5,6.239340,healthy
2,3,46,Male,177.281966,80.687562,25.673050,25.673050,77.019151,25.587429,90.295030,123.073698,76.043212,138.134787,89.180302,NaN,5.702164,Poor,5.829853,3.764406,2974.035375,1746.755144,19.702382,Regularly,Heavy,2.487900,4.371250,0,1,No,Master,Office,Teacher,3429.179266,Vegan,Cardio,High,Good,Yes,High,4,Moderate,No,No,0,1.0,5.5,5.423737,healthy
3,4,32,Female,172.101255,63.142868,21.318480,21.318480,63.955440,21.177109,100.504211,148.173453,68.781981,203.017447,128.375798,18.733179,5.188316,Good,9.489693,0.889474,5321.539497,2034.193242,82.580050,Occasionally,Heavy,2.643335,4.116064,10,4,No,Master,Labor,Teacher,2618.503534,Vegetarian,Mixed,Low,Moderate,No,High,1,NaN,No,Yes,0,1.0,5.5,8.388611,healthy
4,5,60,Female,163.608816,40.000000,14.943302,14.943302,44.829907,14.844299,69.021150,150.613181,92.335358,200.412439,94.813332,16.038701,7.912514,Good,7.275450,2.901608,9791.376712,2386.210257,45.961322,NaN,Heavy,1.968393,3.180087,9,7,Yes,Master,Unemployed,Doctor,3662.086276,Vegan,NaN,Low,Moderate,Yes,High,1,High,Yes,Yes,0,1.0,5.5,0.332622,healthy

In [12]:
# Returns information about the DataFrame, including data types and non-null counts.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   survey_code               100000 non-null  int64
 1   age                       100000 non-null  int64
 2   gender                    100000 non-null  object
 3   height                    100000 non-null  float64
 4   weight                    100000 non-null  float64
 5   bmi                       100000 non-null  float64
 6   bmi_estimated             100000 non-null  float64
 7   bmi_scaled                100000 non-null  float64
 8   bmi_corrected             100000 non-null  float64
 9   waist_size                100000 non-null  float64
 10  blood_pressure            92331 non-null   float64
 11  heart_rate                85997 non-null   float64
 12  cholesterol               100000 non-null  float64
 13  glucose                   100000 non-null  float64
 14  insulin                   84164 non-null   float64
 15  sleep_hours               100000 non-null  float64
 16  sleep_quality             100000 non-null  object
 17  work_hours                100000 non-null  float64
 18  physical_activity         100000 non-null  float64
 19  daily_steps               91671 non-null   float64
 20  calorie_intake            100000 non-null  float64
 21  sugar_intake              100000 non-null  float64
 22  alcohol_consumption       57613 non-null   object
 23  smoking_level             100000 non-null  object
 24  water_intake              100000 non-null  float64
 25  screen_time               100000 non-null  float64
 26  stress_level              100000 non-null  int64
 27  mental_health_score       100000 non-null  int64
 28  mental_health_support     100000 non-null  object
 29  education_level           100000 non-null  object
 30  job_type                  100000 non-null  object
 31  occupation                100000 non-null  object
 32  income                    91530 non-null   float64
 33  diet_type                 100000 non-null  object
 34  exercise_type             75031 non-null   object
 35  device_usage              100000 non-null  object
 36  healthcare_access         100000 non-null  object
 37  insurance                 100000 non-null  object
 38  sunlight_exposure         100000 non-null  object
 39  meals_per_day             100000 non-null  int64
 40  caffeine_intake           66739 non-null   object
 41  family_history            100000 non-null  object
 42  pet_owner                 100000 non-null  object
 43  electrolyte_level         100000 non-null  int64
 44  gene_marker_flag          89526 non-null   float64
 45  environmental_risk_score  100000 non-null  float64
 46  daily_supplement_dosage   100000 non-null  float64
 47  target                    100000 non-null  object
dtypes: float64(24), int64(6), object(18)
memory usage: 36.6+ MB

In [14]:
# Returns summary statistics for numerical columns in the DataFrame.
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
survey_code,100000.0,50000.500000,28867.657797,1.000000,25000.750000,50000.500000,75000.250000,100000.000000
age,100000.0,48.525990,17.886768,18.000000,33.000000,48.000000,64.000000,79.000000
height,100000.0,170.023707,9.982798,140.000000,163.306615,170.016778,176.728920,210.000000
weight,100000.0,70.064862,14.693667,40.000000,59.856938,69.924141,80.027418,139.250894
bmi,100000.0,24.493876,5.951069,9.988495,20.271405,24.156734,28.258696,59.234792
bmi_estimated,100000.0,24.493876,5.951069,9.988495,20.271405,24.156734,28.258696,59.234792
bmi_scaled,100000.0,73.481627,17.853206,29.965484,60.814215,72.470201,84.776088,177.704377
bmi_corrected,100000.0,24.494140,5.954184,9.893845,20.271059,24.151699,28.247648,59.142646
waist_size,100000.0,84.933043,12.040314,34.093185,76.795185,84.957139,93.018713,133.153631
blood_pressure,92331.0,119.980149,15.015503,59.128168,109.812060,119.951794,130.120621,184.439195
heart_rate,85997.0,74.969177,9.941668,34.745092,68.275432,75.046211,81.685914,114.136041
cholesterol,100000.0,189.966438,29.981934,58.410902,169.667738,190.044579,210.222005,319.875613
glucose,100000.0,99.994538,19.982828,12.434931,86.461401,99.986834,113.508722,183.883548
insulin,84164.0,14.988258,5.002783,-6.794483,11.627114,14.983414,18.361928,35.464749
sleep_hours,100000.0,7.002008,1.496821,3.000000,5.986781,6.998164,8.019219,12.000000
work_hours,100000.0,8.001331,1.994723,0.000000,6.651093,8.004549,9.353669,16.000000
physical_activity,100000.0,3.038344,1.884475,0.000000,1.633799,2.971222,4.326500,11.631898
daily_steps,91671.0,7012.925748,2488.989356,1000.000000,5320.858377,7004.285450,8702.281300,18064.969543
calorie_intake,100000.0,2201.428579,400.516318,527.172360,1932.278165,2200.992765,2471.218160,3949.019017
sugar_intake,100000.0,60.047165,19.966850,-27.882444,46.504292,60.047905,73.476386,141.514522
water_intake,100000.0,2.006373,0.688868,0.500000,1.532011,2.000659,2.473047,5.000000
screen_time,100000.0,6.021525,2.933835,0.000000,3.971318,5.991171,8.024470,16.000000
stress_level,100000.0,4.991600,3.154997,0.000000,2.000000,5.000000,8.000000,10.000000
mental_health_score,100000.0,5.004680,3.164228,0.000000,2.000000,5.000000,8.000000,10.000000
income,91530.0,4038.127284,1930.025678,500.000000,2665.402843,4004.601345,5360.012694,12029.409353
meals_per_day,100000.0,2.998720,1.414786,1.000000,2.000000,3.000000,4.000000,5.000000
electrolyte_level,100000.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
gene_marker_flag,89526.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
environmental_risk_score,100000.0,5.500000,0.000000,5.500000,5.500000,5.500000,5.500000,5.500000
daily_supplement_dosage,100000.0,0.015726,5.764489,-9.999895,-4.980501,0.015589,5.008424,9.999966

### 1. Handle Duplicates

In [ ]:
# Get the columns list of dataframe
df.columns

Index(['survey_code', 'age', 'gender', 'height', 'weight', 'bmi',
       'bmi_estimated', 'bmi_scaled', 'bmi_corrected', 'waist_size',
       'blood_pressure', 'heart_rate', 'cholesterol', 'glucose', 'insulin',
       'sleep_hours', 'sleep_quality', 'work_hours', 'physical_activity',
       'daily_steps', 'calorie_intake', 'sugar_intake', 'alcohol_consumption',
       'smoking_level', 'water_intake', 'screen_time', 'stress_level',
       'mental_health_score', 'mental_health_support', 'education_level',
       'job_type', 'occupation', 'income', 'diet_type', 'exercise_type',
       'device_usage', 'healthcare_access', 'insurance', 'sunlight_exposure',
       'meals_per_day', 'caffeine_intake', 'family_history', 'pet_owner',
       'electrolyte_level', 'gene_marker_flag', 'environmental_risk_score',
       'daily_supplement_dosage', 'target'],
      dtype='object')

In [16]:
# Check for duplicates in each column and print the count of duplicates for each column.
for col in df.columns:
    duplicated_count = df[col].duplicated().sum()
    print(f"Column: {col}")
    print(f"Duplicate Count: {duplicated_count}")
    print("*" * 50)

Column: survey_code
Duplicate Count: 0
**************************************************
Column: age
Duplicate Count: 99938
**************************************************
Column: gender
Duplicate Count: 99998
**************************************************
Column: height
Duplicate Count: 157
**************************************************
Column: weight
Duplicate Count: 2297
**************************************************
Column: bmi
Duplicate Count: 4
**************************************************
Column: bmi_estimated
Duplicate Count: 4
**************************************************
Column: bmi_scaled
Duplicate Count: 4
**************************************************
Column: bmi_corrected
Duplicate Count: 0
**************************************************
Column: waist_size
Duplicate Count: 0
**************************************************
Column: blood_pressure
Duplicate Count: 7668
**************************************************
Column: heart_rate
Duplicate Count: 14002
**************************************************
Column: cholesterol
Duplicate Count: 0
**************************************************
Column: glucose
Duplicate Count: 0
**************************************************
Column: insulin
Duplicate Count: 15835
**************************************************
Column: sleep_hours
Duplicate Count: 401
**************************************************
Column: sleep_quality
Duplicate Count: 99996
**************************************************
Column: work_hours
Duplicate Count: 3
**************************************************
Column: physical_activity
Duplicate Count: 6833
**************************************************
Column: daily_steps
Duplicate Count: 9065
**************************************************
Column: calorie_intake
Duplicate Count: 0
**************************************************
Column: sugar_intake
Duplicate Count: 0
**************************************************
Column: alcohol_consumption
Duplicate Count: 99997
**************************************************
Column: smoking_level
Duplicate Count: 99997
**************************************************
Column: water_intake
Duplicate Count: 1511
**************************************************
Column: screen_time
Duplicate Count: 2270
**************************************************
Column: stress_level
Duplicate Count: 99989
**************************************************
Column: mental_health_score
Duplicate Count: 99989
**************************************************
Column: mental_health_support
Duplicate Count: 99998
**************************************************
Column: education_level
Duplicate Count: 99996
**************************************************
Column: job_type
Duplicate Count: 99994
**************************************************
Column: occupation
Duplicate Count: 99994
**************************************************
Column: income
Duplicate Count: 12127
**************************************************
Column: diet_type
Duplicate Count: 99996
**************************************************
Column: exercise_type
Duplicate Count: 99996
**************************************************
Column: device_usage
Duplicate Count: 99997
**************************************************
Column: healthcare_access
Duplicate Count: 99997
**************************************************
Column: insurance
Duplicate Count: 99998
**************************************************
Column: sunlight_exposure
Duplicate Count: 99997
**************************************************
Column: meals_per_day
Duplicate Count: 99995
**************************************************
Column: caffeine_intake
Duplicate Count: 99997
**************************************************
Column: family_history
Duplicate Count: 99998
**************************************************
Column: pet_owner
Duplicate Count: 99998
**************************************************
Column: electrolyte_level
Duplicate Count: 99999
**************************************************
Column: gene_marker_flag
Duplicate Count: 99998
**************************************************
Column: environmental_risk_score
Duplicate Count: 99999
**************************************************
Column: daily_supplement_dosage
Duplicate Count: 0
**************************************************
Column: target
Duplicate Count: 99998
**************************************************

In [17]:
# Duplicate records by multiple columns
duplicate_multi_cols = df[df.duplicated(
    subset=['ADDRESS', 'FLOOR_AREA'], 
    keep=False
    )]
duplicate_multi_cols.shape

KeyError: Index(['ADDRESS', 'FLOOR_AREA'], dtype='object')